.brightcove-component {
    .kaltura-video {
        width: 100%;
        height: 100%;
    }

    &.component-left,
    &.component-right {
        .kaltura-video-holder {
            height: 320px;
        }
    }

    &.component-full {
        .kaltura-video-holder {
            height: 520px;
        }
    }

    &.component-full,
    &.component-left, &.component-right {
        .kaltura-video-holder {
            width: 100%;
            @media (max-width: 760px) {
                height: 395px;
            }
            @media (max-width: 640px) {
                height: 320px;
            }
            @media (max-width: 520px) {
                height: 280px;
            }
            @media (max-width: 420px) {
                height: 200px;
            }


            &.captions-below {
                height: 583px;
                @media (max-width: 760px) {
                    height: 407px;
                }
                @media (max-width: 640px) {
                    height: 350px;
                }
                @media (max-width: 520px) {
                    height: 290px;
                }
                @media (max-width: 420px) {
                    height: 250px;
                }
            }
        }
    }

    .kaltura-video-holder {
        .transition-time(1s);
    }
    transition: height 1s, width 1s;

    &.playing:not(.inview) {
        height: 800px;
        transition: 1s;

        .kaltura-video-holder {
            transition: 1s;
            position: fixed;
            height: 150px;
            width: 250px;
            bottom: 10px;
            left: 10px;
            z-index: 999;
        }
    }

    .media-inline-transcript-body-container {
        width: 100%;
        display: none;
        margin-top: 15px;
    }

    .media-inline-transcript-body {
        padding: @component-padding;
        background: @transparency;
    }

    .media-transcript-button-container {
        margin-top: 5px;
        min-height: 50px;
    }

    .media-external-transcript-button,
    .media-inline-transcript-button {
        width: 100%;
        float: left;
        display: block;

        &.half-width {
            width: 49%;
        }
    }

    .media-external-transcript-button.half-width {
        float: right;
    }
}

.transition-time(@time) {
    -webkit-transition: @time;
    -moz-transition: @time;
    -ms-transition: @time;
    -o-transition: @time;
    transition: @time;
}
