.brightcove-component {
  &.component-left,
  &.component-right {
    .brightcove-video-holder {
      height: 280px;
      width: 100%;
      @media (max-width: @device-width-medium) {
        height: 380px;
      }
      @media (max-width: @device-width-small) {
        height: 260px;
      }
    }
  }

  &.component-full {
    .brightcove-video-holder {
      height: 484px;
      width: 100%;
      @media (max-width: @device-width-medium) {
        height: 380px;
      }
      @media (max-width: @device-width-small) {
        height: 260px;
      }
    }
  }

  .audio-player {
    .vjs-fullscreen-control {
      display: none !important;
    }

    &.minimal-audio-only {
      height: 30px !important;

      .vjs-big-play-button {
        display: none !important;
      }

      .vjs-audio-button {
        display: none;
      }

      .vjs-poster {
        background: none !important;
      }

      .vjs-tech {
        opacity: 0 !important;
      }
    }
  }

  .video-js {
    height: 100%;
    width: 100%;
  }

  .vjs-volume-menu-button {
    @media (max-width: @device-width-small) {
      display: none !important;
    }
  }

  .vjs-captions-button {
    @media (max-width: 340px) {
      display: none !important;
    }
  }

  .media-transcript {
    padding: @button-padding;
    display: block;
    color: @button-text-color;
    background-color: @button-color;
    text-decoration: none;

    &:hover {
      color: @button-text-color-hover;
      background-color: @button-color-hover;
    }
  }

  .media-inline-transcript-body-container {
    margin-top: 15px;
    width: 100%;
    display: none;
  }

  .media-inline-transcript-body {
    padding: @component-padding;
    background: @transparency;
  }

  .media-transcript-button-container {
    margin-top: 5px;
    min-height: 50px;
  }

  .media-external-transcript-button,
  .media-inline-transcript-button {
    width: 100%;
    float: left;
    display: block;

    &.half-width {
        width: 49%;
    }
  }

  .media-external-transcript-button.half-width {
    float: right;
  }
}
