.brightcove-component {
  &.component-left,
  &.component-right {
    .brightcove-video-holder {
      height: 280px;
      width: 100%;
      @media (max-width: @device-width-medium) {
        height: 380px;
      }
      @media (max-width: @device-width-small) {
        height: 260px;
      }
    }
  }

  &.component-full {
    .brightcove-video-holder {
      height: 484px;
      width: 100%;
      @media (max-width: @device-width-medium) {
        height: 380px;
      }
      @media (max-width: @device-width-small) {
        height: 260px;
      }
    }
  }

  .brightcove-video-holder:not(.audio-player) {
    .bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
    .bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
    .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
    .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
    .bc-player-default_default.vjs-has-started.vjs-paused.vjs-ad-playing.vjs-user-inactive .vjs-control-bar,
    .bc-player-default_default.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
      visibility: hidden;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
    }

    .video-js .vjs-progress-holder {
      transition: none;
    }
  }

  .audio-player {
    .vjs-fullscreen-control {
      display: none !important;
    }

    &.minimal-audio-only {
      height: 40px !important;

      .vjs-big-play-button {
        display: none !important;
      }

      .vjs-audio-button {
        display: none;
      }

      .vjs-poster {
        background: none !important;
      }

      .vjs-tech {
        opacity: 0 !important;
      }
    }
  }

  .video-js {
    height: 100%;
    width: 100%;
  }

  .vjs-big-play-button {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .vjs-volume-menu-button {
    @media (max-width: @device-width-small) {
      display: none !important;
    }
  }

  .vjs-captions-button {
    @media (max-width: 340px) {
      display: none !important;
    }
  }

  .media-inline-transcript-body-container {
    width: 100%;
    display: none;
    margin-top: 15px;
  }

  .media-inline-transcript-body {
    padding: @component-padding;
    background: @transparency;
  }

  .media-transcript-button-container {
    margin-top: 5px;
    min-height: 50px;
  }

  .media-external-transcript-button,
  .media-inline-transcript-button {
    width: 100%;
    float: left;
    display: block;

    &.half-width {
      width: 49%;
    }
  }

  .media-external-transcript-button.half-width {
    float: right;
  }
}
