{{! Maintainers - Kevin Corry}}
<div class="component-inner brightcove-inner">
    {{> component this}}
    <div class="brightcove-video-holder">
      <video id="coolPlayer" data-embed="default" class="video-js" controls></video>
    </div>
</div>
